body{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
li{
	list-style:none;
}

#page{
	width:100%;
	margin: 0 auto;
	-moz-box-sizing:border-box;
}

header{
	width:100%;
	display:block;
	clear:both;
	background:#d96b00;
	-moz-box-sizing:border-box;
}

footer{
	width:100%;
	display:block;
	clear:both;
	background:#ccc;
	-moz-box-sizing:border-box;
}

header nav h2.site_name{
	width:38%;
	float:left;
	margin:1%;
	padding:0;
	-moz-box-sizing:border-box;
}
header nav ul{
	margin:0;
	padding:0;
	width:14%;
	float: right;
	-moz-box-sizing:border-box;
}

header nav li{
  margin: 12px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}

header nav li a{
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
 
}

header nav li a:hover{
	background:white;
	color:#222;
}

aside{
	width:20%;
	float:left;
	font-size:12px;
}

.main_content{
	width:80%;
	overflow: hidden;
}
dt{
	width:90%;
	margin: 15px 0;
	padding: 5px 1%;
	font-weight:bold;
	background:#e6e6e6;
	cursor: pointer;
}
dd{
	display:none;
	margin: 0 0 0 -20px;
}

dd.default{
	display:block;
}

footer p{
	width:80%;
	margin:10px auto;
	padding:10px 0;
	text-align: center;
}

footer a{
	text-decoration:none;
	font-size:13px;
}
.clearfix:after{
	content:"";
	width:100%;
	height:0;
	display:block;
	clear:both;
}

#termsofuse li{
	list-style:lower-roman;
	margin-bottom: 10px;
}

div.hide{
	-display:none;
}

div#cont{
	display:block;
}


input[type="text"], input[type="email"], textarea {
    background: none repeat scroll 0 0 #F5F5F5;
    border: medium none;
    color: #333333;
    height: 25px;
    padding: 10px;
    width: 60%;
}

input.captcha{
	width:27.5%;
}

textarea{
	height:auto;
}


form.feedback p {
    padding: 2px;
}

button.submit_btn{
    background: none repeat scroll 0 0 grey;
    border: medium none;
    color: black;
    font-weight: bold;
    height: 48px;
    width: 30%;
}
